body {
  background-color: #ffffff;
  font-family: sans-serif;
  font-size: 14px;
}

h1 {
  font-size: 24px;
  padding-bottom: 20px;
}

h2 {
  font-size: 22px;
  color: #181D2C;
}

.content-wrapper {
  width: 1024px;
  height: 100%;
  margin: 0 auto;
}

.two-side-block {
  overflow: hidden;
  position: relative;
  display: table;
}

.m-51 {
  padding-top: 51px;
}

.p-30 {
  padding: 0 30px;
}

header {
  width: 100%;
  height: 50px;
  background-color: #FFFFFF;
  border-bottom: 1px solid #DEE2EB;
  position: fixed;
  z-index: 10;
}

.header-container {
  width: 964px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.header-menu-bullet {
  margin-right: 20px;
  width: 30px;
  height: 30px;
  background-color: #EBEEF5;
  border-radius: 15px;
  color: #C5CBDB;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.header-menu-bullet:hover {
  background-color: #255EDF;
  color: #FFFFFF;
}

.header-logo-bullet {
  margin-right: 20px;
  width: 30px;
  height: 30px;
  background-color: #E0253C;
  border-radius: 15px;
  color: #FFFFFF;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.header-search-field {
  margin-right: 20px;
  width: 250px;
  height: 30px;
  border: 1px solid #DEDFE9;
  border-radius: 5px;
  margin-left: 10px;
  font-size: 12px;
  padding: 0 10px 0 15px;
}

.header-search-field:focus {
  border: 1px solid #DEDFE9;
  outline: none;
}

.header-right-block {
  margin-left: auto;
  /*padding-left: 329px;*/
  display: flex;
  align-items: center;
}

.header-social-bullet {
  color: #939EB8;
  font-size: 18px;
  text-decoration: none;
  padding-right: 20px;
}

.header-social-bullet:hover {
  color: #374360;
}

.user-avatar {
  width: 32px;
  height: 32px;
  border-radius: 20px;
}

.user-avatar:hover {
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
}

.video-upload-button {
  margin-left: 20px;
}

.left-side {
  display: table-cell;
  vertical-align: top;
  width: 200px;
  padding: 30px 30px 0 30px;
}

.left-side > ul {
  margin-bottom: 10px;
}

.left-side > ul > li {
  padding: 8px 0;
}

.left-side > ul > li a,
.video-collection-item a,
.upload-item a,
.upload-item-title a {
  color: #555C6E;
  text-decoration: none;
}

.left-side > ul > li a:hover,
.video-collection-item a:hover,
.upload-item a:hover,
.upload-item-title a:hover{
  color: #E0253C;
}

.left-side > ul > li a .list-icon-right {
  float: right;
  color: #939EB8;
}

.left-side > ul > li a:hover {
  color: #E0253C;
}

ul.list-image-left > li > a {
  display: flex;
  flex-direction: row;
  align-items: center;
}

ul.list-image-left > li > a img {
  width: 30px;
  height: 30px;
  border-radius: 15px;
  background-color: #919DB5;
  margin-right: 10px;
}

.menu-section {
  font-size: 12px;
  margin-top: 20px;
  margin-bottom: 10px;
  color: #919DB5;
}

.show-more-link {
  font-size: 14px;
  margin-top: 15px;
  color: #E0253C;
  text-decoration: none;
}

.show-more-link:hover {
    color: #7E1C25;
}

.right-side {
  display: table-cell;
  width: 796px;
  height: 100%;
  border-left: 1px solid #D6DBE7;
}

.banner {
  position: relative;
  width: 100%;
  height: 200px;
  background-color: #0F0F0F;
}

.status-bar {
  position: absolute;
  top: 50px;
  left: 60px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.channel-image {
  width: 60px;
  height: 60px;
  border: 4px solid #2C2C33;
  border-radius: 35px;
  background-color: #2C2C33;
}

.channel-stats {
  padding-left: 30px;
  color: #FFFFFF;
  line-height: 20px;
}

.channel-subscribers {
  font-size: 10px;
}

.subscribe-button {
  margin-left: 250px;
}

.bell-icon {
  color: #FFFFFF;
  font-size: 24px;
  padding-left: 30px;
}

.nav-bar {
  position: relative;
  z-index: 1;
  margin: -30px 0 0 30px;
  padding: 0 20px;
  width: 84%;
  height: 60px;
  background: #ffffff;
  border-radius: 6px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: row;
  align-items: center;
  overflow: hidden;
}

.nav-bar ul {
  display: flex;
  flex-direction: row;
}

.nav-bar nav a {
  color: #40495D;
  text-decoration: none;
  padding: 0 5px;
}

.nav-bar nav a:hover, .nav-bar nav a:active {
  color: #E0253C;
}

.right-side-content {
  margin-top: -30px;
  padding: 60px 30px 0 30px;
  background-color: #F6F6F8;
  min-height: 800px;
  display: flex;
  flex-direction: row;
}

.uploads {
  width: 500px;
  display: flex;
  flex-direction: column;
}

.last-upload {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 40px;
}

.upload-list {
  display: flex;
  flex-direction: column;
}

.upload-avatar {
  position: relative;
  margin: 0 30px 0 0;
}

.upload-avatar img {
  width: 200px;
  height: 150px;
  border-radius: 8px;
}

.timing {
  position: absolute;
  right: 20px;
  bottom: 20px;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 5px 3px;
  font-size: 10px;
  border-radius: 3px;
  color: #FFFFFF;
}

.upload-info {
  color: #505569;
}

.upload-item-title {
  color: #1E212D;
  font-size: 18px;
  line-height: 18px;
}

.upload-item-desc {
  padding-top: 15px;
  font-size: 14px;
  line-height: 18px;
}

.upload-item-stats ul {
  padding-top: 15px;
  list-style-type: disc;
  font-size: 12px;
}

.upload-item-stats ul > li {
  margin-left: 25px;
  float: left;
}

.upload-item-stats ul > li.first {
  list-style-type: none;
  margin-left: 0;
}

.recent-uploads {
  display: flex;
  flex-direction: column;
}

.upload-list {
  padding-top: 40px;
}

.uploads-header-controls {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-top: 10px;
}

.uploads-header-controls button {
  margin-left: 240px;
}

.uploads-header-controls .dot-control {
  padding-left: 20px;
}

.popular-uploads {
  margin-bottom: 40px;
}

.popular-uploads .upload-list {
  display: flex;
  flex-direction: row;
  padding-top: 40px;
  overflow: hidden;
}

.upload-list .upload-item {
  width: 150px;
  display: flex;
  flex-direction: column;
  margin-right: 30px;
}

.upload-list .upload-item .upload-avatar {
  position: relative;
}

.upload-list .upload-item .upload-avatar img {
  width: 150px;
  height: 120px;
  border-radius: 5px;
}


.upload-list .upload-item .upload-title {
  padding-top: 10px;
  font-size: 14px;
  line-height: 14px;
  color: #181D2C;
}

.upload-list .upload-item .upload-channel-name {
  padding-top: 10px;
  font-size: 12px;
  color: #919DB5;
}

.upload-channel-name span {
  font-size: 14px;
}

.info-side-content {
  padding: 0 0 0 30px;
}

.info-related-channels {
  margin-top: 40px;
}

.list-image-left {
  margin-top: 15px;
  margin-bottom: 10px;
}

.list-image-left li {
  padding-bottom: 10px;
}

.list-image-left li a {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-decoration: none;
  color: #555C6E;
}

.list-image-left li a:hover {
  color: #E0253C;
}

.list-image-left li a img {
  width: 30px;
  height: 30px;
  border-radius: 15px;
  background-color: #919DB5;
  margin-right: 10px;
}

.video-collection-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.video-collection-item, .video-detail {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.video-detail {
  font-size: 16px;
  line-height: 28px;
}

.video-collection-item {
  width: 350px;
}

.search-field {
  width: 250px;
  height: 30px;
  border: 1px solid #DEDFE9;
  border-radius: 5px;
  margin-left: 40px;
  font-size: 12px;
  padding: 0 10px 0 15px;
}

.search-field:focus {
  border: 1px solid #DEDFE9;
  outline: none;
}

.btn {
  text-decoration: none;
}

.button-red {
  background-color: #DF253B;
  color: #FFFFFF;
  padding: 8px 12px;
  border: none;
  border-radius: 5px;
}

.button-red:hover {
  background-color: #9D1B2B;
  outline: none;
}

.button-gray {
  background-color: #949EB7;
  color: #FFFFFF;
  padding: 8px 12px;
  border: none;
  border-radius: 5px;
}

.button-gray:hover {
  background-color: #6C7281;
  outline: none;
}

.section-name {
  font-size: 12px;
  margin-bottom: 10px;
  color: #919DB5;
}

.section-text {
  font-size: 14px;
  line-height: 18px;
  color: #505569;
}

.section-show-more-link {
  font-size: 14px;
  color: #E0253C;
  text-decoration: none;
}

.section-show-more-link:hover {
  color: #7E1C25;
}

.social-icons {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 15px;
}

.social-icons a {
  text-decoration: none;
  color: #919DB5;
  font-size: 18px;
  padding-right: 10px;
  padding-top: 15px;
}

.social-icons a:hover {
  color: #2C2C33;
}

.flex-column {
  flex-direction: column;
}

.upload-form {
  width: 100%;
  display: flex;
  gap: 30px;
}

.upload-form label {
  font-weight: bold;
  padding-bottom: 16px;
}

.form-group {
  display: flex;
  flex-direction: column;
  padding-bottom: 30px;
}

.submit-button {
  width: max-content;
}

.form-right-side {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.radio-group, .radio-group .form-group {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 20px;
}

.radio-group .form-group {
  gap: 6px;
}

.upload-form input[type="text"], select {
  height: 40px;
  border: 1px solid #D6DBE7;
  padding: 0 20px;
}

.form-right-side textarea {
  width: 100%;
  height: 150px;
  appearance: none;
  outline: none;
  border: 1px solid #D6DBE7;
  padding: 20px;
  box-sizing: border-box;
}

.form-left-side {
  width: 100%;
  display: flex;
  flex-direction: column;
}
